.App {
  text-align: center;
  display : flex;
  flex-direction : column;
}

@keyframes fade-in {
  from {opacity: 0%;}
  to {opacity: 100%;}
}

select::-ms-expand {
  display: none;
}

select {
  /* for Firefox */
  -moz-appearance: none;
  /* for Chrome */
  -webkit-appearance: none;
}
